[submodule "nvim"]
	path = .config/nvim
	url = git@github.com:DylanRitchings/nvim
[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:DylanRitchings/nvim
[submodule "bash/private-bash"]
	path = bash/private-bash
	url = git@github.com:mo-dylanritchings/private-bash
