[submodule "emacs/.doom.d"]
	path = emacs/.doom.d
	url = https://github.com/DylanRitchings/.doom.d.git
[submodule "emacs/emacs/.spacemacs.d"]
	path = emacs/emacs/.spacemacs.d
	url = https://github.com/DylanRitchings/.spacemacs.d.git
[submodule "emacs/.spacemacs.d"]
	path = emacs/.spacemacs.d
	url = https://github.com/DylanRitchings/.spacemacs.d.git
[submodule "bash/shared-dotfiles"]
	path = bash/shared-dotfiles
	url = https://github.com/DylanRitchings/shared-dotfiles.git
[submodule "bash/bash_scripts"]
	path = bash/bash_scripts
	url = https://github.com/DylanRitchings/bash_scripts.git
[submodule "neovim"]
	path = neovim
	url = https://github.com/DylanRitchings/neovim.git
[submodule "scripts"]
	path = scripts
	url = git@github.com:DylanRitchings/scripts.git
[submodule "bash/scripts"]
	path = bash/scripts
	url = git@github.com:DylanRitchings/scripts.git
[submodule "nvim"]
	path = nvim
	url = https://github.com/DylanRitchings/nvim
	branch = main
